body{
 background-color: pink;
}  
.center-box{
    width: 300px;
    padding: 20px;
    background-color: white;  
    text-align: center;
    box-shadow: 0 0 10px gray;
}
button{
    margin: 10px;
    padding: 8px 15px;
}